<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
		
	<security:http pattern="/themes/**" security="none" />
	<security:http pattern="/index.jsp*" security="none" />
	<security:http pattern="/customer/login" security="none" />
	<security:global-method-security pre-post-annotations="enabled"/>  
	<security:http use-expressions="true">
	    <security:intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')"/>
		<!-- <intercept-url pattern="/*" access="hasRole('ROLE_USER')" /> 写全称和写后缀都能用！ -->
		<!--访问/**资源的用户必须具有ROLE_USER的权限 -->
		<security:intercept-url pattern="/customer/*" access="hasRole('ROLE_USER')"/>
		<!-- 自定义登录页面 默认login-->
		<security:form-login login-page="/login.jsp" login-processing-url="/user/login"
			always-use-default-target="true" default-target-url="/index.jsp" />
		<!-- 无权操作 -->
		<security:access-denied-handler error-page="/accessDenied.jsp" />
		<!-- 防止 CSRF 攻击  -->
		<security:csrf />
		<!-- 退出 -->
		<security:logout invalidate-session="true" logout-url="/logout" logout-success-url="/login1.jsp" delete-cookies="JSESSIONID" />			
		<!-- session 管理 -->
		<security:session-management invalid-session-url="/invalidSession.jsp" session-fixation-protection="none">
			<security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</security:session-management>
		
        <security:custom-filter ref="customSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR"/>
	</security:http>
	
	<!-- 自定义登录 -->
	<security:authentication-manager alias="myAuthenticationManager">
		<security:authentication-provider user-service-ref="customUserDetailsService" />
	</security:authentication-manager>

</beans>
